.card {
  border-radius: 4px;
  align-self: flex-start;
  padding-inline: 1.2rem;
  padding-block: 1.7rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.remove-btn {
  color: #ffffff;
  padding: unset !important;
  background-color: #ff0000;
  width: 22px;
  height: 21px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.city-img {
  width: 24px;
  height: auto;
}

@media (max-width: 520px) {
  .card {
    margin-inline: auto;
    max-width: 80vw;
  }
}
