.search-input {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1px solid var(--bg-orange);
  margin-right: 0.5rem;
}

.error-search {
  padding: 0.5rem;
  background-color: var(--bg-orange);
  color: #ffffff;
  width: max-content;
  margin-top: 0.5rem;
  margin-inline: auto;
  text-align: center;
}

.search-form {
  margin-inline: auto;
  width: max-content;
}

@media (max-width: 420px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }
}
